Source: skalibs
Section: devel
Priority: optional
Maintainer: Jubei Mitsuyoshi <jubei.house.of.five.masters@gmail.com>
Build-Depends: make (>= 2.6),
               debhelper (>= 9~),
Standards-Version: 3.9.3
# If you aren't a member of ~compiz-team but need to upload packaging changes,
# just go ahead.  ~compiz-team will notice and sync up the code again.

Package: skalibs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description:skalibs from a friggin genius
