Source: skalibs
Section: devel
Priority: optional
Maintainer: Jubei Mitsuyoshi <jubei.house.of.five.masters@gmail.com>
Build-Depends: make (>= 2.6),
               debhelper (>= 9~),
Standards-Version: 3.9.3

Package: skalibs
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Part of the Skalibs package from, 
 fuck knows what it does but needed to build s6
