#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)


%:
	dh $@

override_dh_auto_build:
	rm -f $(CURDIR)/prog/skalibs-1.4.2/conf-compile/flag-slashpackage
		
	echo "$(CURDIR)/debian/skalibs/usr/bin" > $(CURDIR)/prog/skalibs-1.4.2/conf-compile/conf-install-command
	
	echo "$(CURDIR)/debian/skalibs/usr/include/skalibs" > $(CURDIR)/prog/skalibs-1.4.2/conf-compile/conf-install-include
	
	echo "$(CURDIR)/debian/skalibs/usr/lib" > $(CURDIR)/prog/skalibs-1.4.2/conf-compile/conf-install-library
	
	echo "$(CURDIR)/debian/skalibs/lib" > $(CURDIR)/prog/skalibs-1.4.2/conf-compile/conf-install-library.so
	
	echo "$(CURDIR)/debian/skalibs/usr/lib/skalibs/sysdeps" > $(CURDIR)/prog/skalibs-1.4.2/conf-compile/conf-install-sysdeps
	cd $(CURDIR)/prog/skalibs-1.4.2 && make
	

override_dh_auto_install:
	cd $(CURDIR)/prog/skalibs-1.4.2 && make install
	
	## Install file in /etc/ld.so.conf.d, so that the libraries are found ##
	install -dm755 debian/skalibs/etc
	
	## extra dirs cant get build system to create
	install -dm755 debian/skalibs/usr/share/doc/skalibs
	
	## docs and etc
	cd $(CURDIR)/prog/skalibs-1.4.2/etc && for i in $$(ls); do echo $$i; cp -pr $(CURDIR)/prog/skalibs-1.4.2/etc/$$i $(CURDIR)/debian/skalibs/etc/$$i; done
	cd $(CURDIR)/prog/skalibs-1.4.2/doc && for i in $$(ls -d */); do echo $$i; cp -pr $(CURDIR)/prog/skalibs-1.4.2/doc/$$i $(CURDIR)/debian/skalibs/usr/share/doc/skalibs/$$i; done
	cd $(CURDIR)/prog/skalibs-1.4.2/doc && for i in $$(ls); do echo $$i; cp -pr $(CURDIR)/prog/skalibs-1.4.2/doc/$$i $(CURDIR)/debian/skalibs/usr/share/doc/skalibs/$$i; done
	
	

override_dh_auto_clean:
	rm -rf $(CURDIR)/prog/skalibs

	rm -f $(CURDIR)/prog/skalibs-1.4.2/conf-compile/conf-install-command
	
	rm -f $(CURDIR)/prog/skalibs-1.4.2/conf-compile/conf-install-include
	
	rm -f $(CURDIR)/prog/skalibs-1.4.2/conf-compile/conf-install-library
	
	rm -f $(CURDIR)/prog/skalibs-1.4.2/conf-compile/conf-install-library.so
	
	rm -f $(CURDIR)/prog/skalibs-1.4.2/conf-compile/conf-install-sysdeps
	
	cd $(CURDIR)/prog/skalibs-1.4.2 && make distclean
	cd $(CURDIR)/prog/skalibs-1.4.2 && make clean

override_dh_auto_test:
#	$(CURDIR)/package/check
